{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% trans 'Company name' %} - {% trans 'Daily Scrum' %}</title>

  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">{% trans 'Daily Scrum' %}</div>
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" name="email" id="email" class="form-control" placeholder="{% trans 'Your email address' %}" required="required" autofocus="autofocus" value="">
              <label for="email">{% trans 'Your email address' %}</label>
            </div>
          </div>
          <input type='submit' class="btn btn-primary btn-block" value="{% trans 'Login' %}"></input>
        </form>
      </div>
    </div>
  </div>

</body>
</html>