{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% trans 'Company name' %} - {% trans 'Daily Scrum' %}</title>

  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">{% trans 'Daily Scrum' %}</div>
      <div class="card-body">
        {% trans 'Please check your email' %}<br>
        {% trans 'There will be a message with your login link' %}
      </div>
    </div>
  </div>

</body>
</html>