.strikethrough {
  font-size: 18px;
}

.strikethrough:checked + span {
  text-decoration: line-through;
}

a {
  color: #014d9d;
  /*text-decoration: underline;*/
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 1px solid #000;
}
