<mjml>
  <mj-body>
    <mj-section>
    </mj-section>
    <mj-section background-color="#f3f3f3">
      <mj-column>
        <mj-text font-weight="bold" align="justify" font-size="24px" color="#000" font-family="helvetica">KO Quest</mj-text>
        <mj-image width="170px" src="http://i.imgur.com/nwNZ0TW.png"></mj-image>
      </mj-column>
      <mj-column>
        <mj-button align="center" background-color="#8ccaca" border-radius="40px" font-family="helvetica" font-size="24px" href="ea.com">Inicia sesión
        </mj-button>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>