<!doctype html>
<html lang="en" data-framework="jquery">
	<head>
		<meta charset="utf-8">
		<title>KO • Daily Scrum</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>Daily Scrum</h1>
				<input class="new-todo" placeholder="What needs to be done?" autofocus>
				<input class="new-todo" placeholder="2" autofocus>
				<input class="new-todo" placeholder="3" autofocus>
				<input class="new-todo" placeholder="4" autofocus>
				<input class="new-todo" placeholder="5" autofocus>
			</header>
			<footer class="footer"></footer>
		</section>

		<section class="todoapp">
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<ul class="todo-list"></ul>
			</section>
			<footer class="footer"></footer>
		</section>
		<script id="todo-template" type="text/x-handlebars-template">
			{{#this}}
			<li {{#if completed}}class="completed"{{/if}} data-id="{{id}}">
				<div class="view">
					<input class="toggle" type="checkbox" {{#if completed}}checked{{/if}}>
					<label>{{title}}</label>
				</div>
				<input class="edit" value="{{title}}">
			</li>
		{{/this}}
		</script>
		<script id="footer-template" type="text/x-handlebars-template">

		</script>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/handlebars/dist/handlebars.js"></script>
		<script src="node_modules/director/build/director.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
