{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% trans 'Company name' %} - {% trans 'Daily Scrum' %}</title>

  <link href="{% static 'css/sb-admin.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
</head>

<body class="bg-dark">
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>