{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
  <div class="card-body">
    <a href="{% url 'main_show_organizations' %}">{% trans 'Look dailies for your organization' %}</a>
  </div>
</div>

<div class="card card-register mx-auto mt-2">
  <div class="card-header">
    <span class="text-left"><strong>{% trans 'Daily In' %}</strong></span>
  </div>
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <div class="form-label-group">
          <span> {% trans 'How do you feel today?' %} </span><br/>
          <fieldset id="feelings_emoji">
            <label>
              <input type="radio" name="feelings_emoji" value="excellent" required/>
              <img src="/static/img/excellent.png"/>
            </label>
            <label>
              <input type="radio" name="feelings_emoji" value="fine" required/>
              <img src="/static/img/fine.png"/>
            </label>
            <label>
              <input type="radio" name="feelings_emoji" value="average" required/>
              <img src="/static/img/average.png"/>
            </label>
            <label>
              <input type="radio" name="feelings_emoji" value="average" required/>
              <img src="/static/img/bad.png"/>
            </label>
          </fieldset>
        </div>
        <br/>
        <div class="form-label-group">
          <input type="text" name="feelings" id="feelings" class="form-control" placeholder="{% trans 'Why do you feel that way?' %}" maxlength="999">
          <label for="feelings">{% trans 'Why do you feel that way?' %} </label>
        </div>
      </div>
      <div class="form-group">
        <!--
          If there are no elements to show
          Don't show anything
        -->
        {% if last_registry.entry_1 %}
        <hr>
        <strong>{% trans 'What did you finish last day?' %} 👍</strong>
        <div class="checkbox">
          <label for="1_done" class="">
          <input type="checkbox" name="1_done" id="1_done" value="1_done" class="strikethrough" {% if last_registry.entry_1_done  %} checked {% endif %} disabled>
            <span class="strikethrough">1. {{ last_registry.entry_1 }}</span>
          </label>
        </div>
        {% endif %}
        {% if last_registry.entry_2 %}
        <div class="checkbox">
          <label for="2_done" class="">
          <input type="checkbox" name="2_done" id="2_done" value="2_done" class="strikethrough" {% if last_registry.entry_2_done %} checked {% endif %} disabled>
            <span class="strikethrough">2. {{ last_registry.entry_2 }}</span>
          </label>
        </div>
        {% endif %}
        {% if last_registry.entry_3 %}
        <div class="checkbox">
          <label for="3_done" class="">
          <input type="checkbox" name="3_done" id="3_done" value="3_done" class="strikethrough" {% if last_registry.entry_3_done %} checked {% endif %} disabled>
            <span class="strikethrough">3. {{ last_registry.entry_3 }}</span>
          </label>
        </div>
        {% endif %}
        {% if last_registry.entry_4 %}
        <div class="checkbox">
          <label for="4_done" class="">
          <input type="checkbox" name="4_done" id="4_done" value="4_done" class="strikethrough" {% if last_registry.entry_4_done %} checked {% endif %} disabled>
            <span class="strikethrough">4. {{ last_registry.entry_4 }}</span>
          </label>
        </div>
        {% endif %}
        {% if last_registry.entry_5 %}
        <div class="checkbox">
          <label for="5_done" class="">
          <input type="checkbox" name="5_done" id="5_done" value="5_done" class="strikethrough" {% if last_registry.entry_5_done %} checked {% endif %} disabled>
            <span class="strikethrough">5. {{ last_registry.entry_5 }}</span>
          </label>
        </div>
        {% endif %}
        {% if last_registry.entry_6 %}
        <div class="checkbox">
          <label for="6_done" class="">
          <input type="checkbox" name="6_done" id="6_done" value="6_done" class="strikethrough" {% if last_registry.entry_6_done %} checked {% endif %} disabled>
            <span class="strikethrough">6. {{ last_registry.entry_6 }}</span>
          </label>
        </div>
        {% endif %}
        {% if last_registry.entry_7 %}
        <div class="checkbox">
          <label for="7_done" class="">
          <input type="checkbox" name="7_done" id="7_done" value="7_done" class="strikethrough" {% if last_registry.entry_7_done %} checked {% endif %} disabled>
            <span class="strikethrough">7. {{ last_registry.entry_7 }}</span>
          </label>
        </div>
        {% endif %}
        {% if last_registry.entry_8 %}
        <div class="checkbox">
          <label for="8_done" class="">
          <input type="checkbox" name="8_done" id="8_done" value="8_done" class="strikethrough" {% if last_registry.entry_8_done %} checked {% endif %} disabled>
            <span class="strikethrough">8. {{ last_registry.entry_8 }}</span>
          </label>
        </div>
        {% endif %}
        {% if last_registry.entry_9 %}
        <div class="checkbox">
          <label for="9_done" class="">
          <input type="checkbox" name="9_done" id="9_done" value="9_done" class="strikethrough" {% if last_registry.entry_9_done %} checked {% endif %} disabled>
            <span class="strikethrough">9. {{ last_registry.entry_9 }}</span>
          </label>
        </div>
        {% endif %}
        {% if last_registry.entry_10 %}
        <div class="checkbox">
          <label for="10_done" class="">
          <input type="checkbox" name="10_done" id="10_done" value="10_done" class="strikethrough" {% if last_registry.entry_10_done %} checked {% endif %} disabled>
            <span class="strikethrough">10. {{ last_registry.entry_10 }}</span>
          </label>
        </div>
        {% endif %}
      </div>
      <hr>
      <p>
        <strong>{% trans 'What will you do today?' %} 🤞</strong>
      </p>
      <div  id="registries">
        <div class="form-group">
          <div class="form-label-group">
            <input type="text" name="1" id="1" class="form-control" placeholder="What will you do today?" required="required" maxlength="999" 
            value="{% if last_registry.next_day_entry_1 %}{{ last_registry.next_day_entry_1 }} {% endif %}" onChange="createInput()">
            <label for="1">1</label>
            <!--
            <textarea class="form-control" contenteditable="true">
            http://www.jacklmoore.com/autosize/
            </textarea>
            -->
          </div>
        </div>
      </div> 
      <hr>
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" name="impediments_in" id="impediments_in" class="form-control" placeholder="Impediments" required="required" maxlength="999">
          <label for="impediments_in">{% trans 'Write your impediments' %}</label>
        </div>
      </div>
      <input type='submit' class="btn btn-primary btn-block" value="{% trans 'Send Daily In!' %}"></input>
    </form>
  </div>
</div>

<script>
  var blankInput = true;
  var count_entries = 2;
  var usedInputs = [];
  var last = {};
  //console.log("Pre If")
  if("{{ last_registry.next_day_entry_2 }}" != ""){
    last["2"] = "{{ last_registry.next_day_entry_2 }}"
    createInput()
  } else{
    last["2"] = ""
    if(blankInput){
      createInput();
      blankInput = false;
    }
  }

  if("{{ last_registry.next_day_entry_3 }}" != ""){
    last["3"] = "{{ last_registry.next_day_entry_3 }}"
    createInput()
  } else{
    last["3"] = ""
    if(blankInput){
      createInput();
      blankInput = false;
    }
  }

  if("{{ last_registry.next_day_entry_4 }}" != ""){
    last["4"] = "{{ last_registry.next_day_entry_4 }}"
    createInput()
  } else{
    last["4"] = ""
    if(blankInput){
      createInput();
      blankInput = false;
    }
  }

  if("{{ last_registry.next_day_entry_5 }}" != ""){
    last["5"] = "{{ last_registry.next_day_entry_5 }}"
    createInput()
  } else{
    last["5"] = ""
    if(blankInput){
      createInput();
      blankInput = false;
    }
  }

  if("{{ last_registry.next_day_entry_6 }}" != ""){
    last["6"] = "{{ last_registry.next_day_entry_6 }}"
    createInput()
  } else{
    last["6"] = ""
    if(blankInput){
      createInput();
      blankInput = false;
    }
  }

  if("{{ last_registry.next_day_entry_7 }}" != ""){
    last["7"] = "{{ last_registry.next_day_entry_7 }}"
    createInput()
  } else{
    last["7"] = ""
    if(blankInput){
      createInput();
      blankInput = false;
    }
  }

  if("{{ last_registry.next_day_entry_8 }}" != ""){
    last["8"] = "{{ last_registry.next_day_entry_8 }}"
    createInput()
  } else{
    last["8"] = ""
    if(blankInput){
      createInput();
      blankInput = false;
    }
  }

  if("{{ last_registry.next_day_entry_9 }}" != ""){
    last["9"] = "{{ last_registry.next_day_entry_9 }}"
    createInput()
  } else{
    last["9"] = ""
    if(blankInput){
      createInput();
      blankInput = false;
    }
  }

  if("{{ last_registry.next_day_entry_10 }}" != ""){
    last["10"] = "{{ last_registry.next_day_entry_10 }}"
    createInput()
  } else{
    last["10"] = ""
    if(blankInput){
      createInput();
      blankInput = false;
    }
  }

  function createdInput(){
    //console.log("Input Created")
    return
  }

  function createInput(){
    if(count_entries <= 10){
      var formGroup = document.createElement("div");
      var formLabelGroup = formGroup.appendChild(document.createElement("div"));
      var element = formLabelGroup.appendChild(document.createElement("input"));
      var label = formLabelGroup.appendChild(document.createElement("label"));
      label.innerHTML = count_entries.toString();
      
      formGroup.setAttribute("class", "form-group");
      
      formLabelGroup.setAttribute("class", "form-label-group");
      
      element.setAttribute("type", "text");
      element.setAttribute("id", count_entries.toString());
      element.setAttribute("placeholder", "What will you do today?");
      element.setAttribute("maxlength", "999");
      //element.setAttribute("required", "required");
      element.setAttribute("value", last[count_entries]);
      element.setAttribute("class", "form-control");
      element.setAttribute("onChange", "createInput()");
      element.setAttribute("name", count_entries.toString());

      label.setAttribute("for", count_entries.toString());

      formGroup.appendChild(formLabelGroup);
      formLabelGroup.appendChild(element);
      formLabelGroup.appendChild(label);

      var divId = document.getElementById("registries");
      divId.append(formGroup);

      usedInputs.push(count_entries - 1);
      //console.log("inputs: " + usedInputs);
      var usedInput = document.getElementById(count_entries - 1);
      usedInput.setAttribute("onChange", "createdInput()");
      count_entries += 1;
    }
  }
</script>
{% endblock content %}