{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
  <div class="card-body">
    <a href="{% url 'main_show_organizations' %}">{% trans 'Look dailies for your organization' %}</a>
  </div>
</div>

<div class="card card-register mx-auto mt-2">
  <div class="card-header">
    <span class="text-left"><strong>{% trans 'Daily Out' %}</strong></span>
  </div>
  <div class="card-body">
    <form action="" method="post">
    <input type="hidden" name="out" value="">
    {% csrf_token %}
    {% trans 'What did you finish today?' %}
    <div class="form-group">
      <div class="checkbox">
        <label for="1_done" class="">
        <input type="checkbox" name="1_done" id="1_done" value="1_done" class="strikethrough">
          <span class="strikethrough">{{ last_registry.entry_1 }}</span>
        </label>
      </div>
      {% if last_registry.entry_2 != '' %}
      <div class="checkbox">
        <label for="2_done" class="">
        <input type="checkbox" name="2_done" id="2_done" value="2_done" class="strikethrough">
          <span class="strikethrough">{{ last_registry.entry_2 }}</span>
        </label>
      </div>
      {% endif %}
      {% if last_registry.entry_3 != '' %}
      <div class="checkbox">
        <label for="3_done" class="">
        <input type="checkbox" name="3_done" id="3_done" value="3_done" class="strikethrough">
          <span class="strikethrough">{{ last_registry.entry_3 }}</span>
        </label>
      </div>
      {% endif %}
      {% if last_registry.entry_4 != '' %}
      <div class="checkbox">
        <label for="4_done" class="">
        <input type="checkbox" name="4_done" id="4_done" value="4_done" class="strikethrough">
          <span class="strikethrough">{{ last_registry.entry_4 }}</span>
        </label>
      </div>
      {% endif %}
      {% if last_registry.entry_5 != '' %}
      <div class="checkbox">
        <label for="5_done" class="">
        <input type="checkbox" name="5_done" id="5_done" value="5_done" class="strikethrough">
          <span class="strikethrough">{{ last_registry.entry_5 }}</span>
        </label>
      </div>
      {% endif %}
      {% if last_registry.entry_6 != '' %}
      <div class="checkbox">
        <label for="6_done" class="">
        <input type="checkbox" name="6_done" id="6_done" value="6_done" class="strikethrough">
          <span class="strikethrough">{{ last_registry.entry_6 }}</span>
        </label>
      </div>
      {% endif %}
      {% if last_registry.entry_7 != '' %}
      <div class="checkbox">
        <label for="7_done" class="">
        <input type="checkbox" name="7_done" id="7_done" value="7_done" class="strikethrough">
          <span class="strikethrough">{{ last_registry.entry_7 }}</span>
        </label>
      </div>
      {% endif %}
      {% if last_registry.entry_8 != '' %}
      <div class="checkbox">
        <label for="8_done" class="">
        <input type="checkbox" name="8_done" id="8_done" value="8_done" class="strikethrough">
          <span class="strikethrough">{{ last_registry.entry_8 }}</span>
        </label>
      </div>
      {% endif %}
      {% if last_registry.entry_9 != '' %}
      <div class="checkbox">
        <label for="9_done" class="">
        <input type="checkbox" name="9_done" id="9_done" value="9_done" class="strikethrough">
          <span class="strikethrough">{{ last_registry.entry_9 }}</span>
        </label>
      </div>
      {% endif %}
      {% if last_registry.entry_10 != '' %}
      <div class="checkbox">
        <label for="10_done" class="">
        <input type="checkbox" name="10_done" id="10_done" value="10_done" class="strikethrough">
          <span class="strikethrough">{{ last_registry.entry_10 }}</span>
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <div class="form-label-group">
        <input type="text" name="impediments_out" id="impediments_out" class="form-control" placeholder="Impediments" required="required">
        <label for="impediments_out">{% trans 'What impediments did you have?' %}</label>
      </div>
    </div>
    {% trans 'What you will do next day?' %}
    <div id="registries">
      <div class="form-group">
        <div class="form-label-group">
          <input type="text" name="1" id="1" class="form-control" placeholder="What will you do today?" required="required" onChange="createInput()">
          <label for="1">1</label>
        </div>
      </div>
    </div>
    <input type='submit' class="btn btn-primary btn-block" value="{% trans 'Send Daily Out!' %}"></input>
    </form>
  </div>
</div>

<script>
  //var blankInput = true;
  var count_entries = 2;
  
  function createdInput(){
    //console.log("Input Created")
    return
  }
  
  function createInput(){
    if(count_entries <= 10){
      var formGroup = document.createElement("div");
      var formLabelGroup = formGroup.appendChild(document.createElement("div"));
      var element = formLabelGroup.appendChild(document.createElement("input"));
      var label = formLabelGroup.appendChild(document.createElement("label"));
      label.innerHTML = count_entries.toString();
        
      formGroup.setAttribute("class", "form-group");
        
      formLabelGroup.setAttribute("class", "form-label-group");
        
      element.setAttribute("type", "text");
      element.setAttribute("id", count_entries.toString());
      element.setAttribute("placeholder", "What will you do today?");
      element.setAttribute("maxlength", "999");
      //element.setAttribute("required", "required");
      element.setAttribute("class", "form-control");
      element.setAttribute("onChange", "createInput()");
      element.setAttribute("name", count_entries.toString());
  
      label.setAttribute("for", count_entries.toString());
  
      formGroup.appendChild(formLabelGroup);
      formLabelGroup.appendChild(element);
      formLabelGroup.appendChild(label);

      var divId = document.getElementById("registries");
      divId.append(formGroup);
  
      var usedInput = document.getElementById(count_entries - 1);
      usedInput.setAttribute("onChange", "createdInput()");
      count_entries += 1;
    }
  }
</script>
{% endblock content %}