{% extends 'main/base_wide.html' %}
{% load i18n %}

{% block content %}

<div class="card card-register mx-auto mt-2">
  <div class="card-header">
    <span class="text-left"><a href="{% url 'index' %}">{% trans 'Daily Scrum' %}</a></span>
    <span class="float-right"><a href="{% url 'logout' %}">{% trans 'Logout' %} 👋</a></span>
  </div>
</div>

<div class="card card-register mx-auto mt-3">
  <div class="card-header">
    <a href="#">
      🧝‍ <span class="text-left">{{ registry.user.name }}</span>
    </a>
    <span class="float-right">
      <a href="{% url 'main_get_registry' registry.id %}">
        <span title="{% trans 'Daily In Time' %}">
          <!--
            ✅❗️🗓
          -->
          {{ registry.created_time | date:'D d/M/Y g:i A' }}
        </span>
        <span title="{% trans 'Daily Out Time' %}">
          {{ registry.closed_time | date:'/ g:i A' }}
        </span>
        <span>
          {% if registry.status == registry.CLOSED_ON_TIME %}✅{% endif %}
          {% if registry.status == registry.CLOSED_OUT_OF_TIME %}❗️{% endif %}
        </span>
      </a>
    </span>
  </div>
  <div class="card-body">
    <div class="form-group">
      <span><strong>{% trans 'What will you do today?' %}</strong></span>
      <div class="checkbox">
        <label for="done_1" class="">
        <input id="done_1" name="done" type="checkbox" value="done_1" {% if registry.entry_1_done %} checked {% endif %} disabled class="strikethrough">
          <span class="strikethrough">1. {{ registry.entry_1 }}</span>
        </label>
      </div>
      {% if registry.entry_2 != '' %}
      <div class="checkbox">
        <label for="done_2" class="">
        <input id="done_2" name="done" type="checkbox" value="done_2" {% if registry.entry_2_done %} checked {% endif %} disabled class="strikethrough">
          <span class="strikethrough">2. {{ registry.entry_2 }}</span>
        </label>
      </div>
      {% endif %}
      {% if registry.entry_3 != '' %}
      <div class="checkbox">
        <label for="done_3" class="">
        <input id="done_3" name="done" type="checkbox" value="done_3" {% if registry.entry_3_done %} checked {% endif %} disabled class="strikethrough">
          <span class="strikethrough">3. {{ registry.entry_3 }}</span>
        </label>
      </div>
      {% endif %}
      {% if registry.entry_4 != '' %}
      <div class="checkbox">
        <label for="done_4" class="">
        <input id="done_4" name="done" type="checkbox" value="done_4" {% if registry.entry_4_done %} checked {% endif %} disabled class="strikethrough">
          <span class="strikethrough">4. {{ registry.entry_4 }}</span>
        </label>
      </div>
      {% endif %}
      {% if registry.entry_5 != '' %}
      <div class="checkbox">
        <label for="done_5" class="">
        <input id="done_5" name="done" type="checkbox" value="done_5" {% if registry.entry_5_done %} checked {% endif %} disabled class="strikethrough">
          <span class="strikethrough">5. {{ registry.entry_5 }}</span>
        </label>
      </div>
      {% endif %}
      {% if registry.entry_6 != '' %}
      <div class="checkbox">
        <label for="done_6" class="">
        <input id="done_6" name="done" type="checkbox" value="done_6" {% if registry.entry_6_done %} checked {% endif %} disabled class="strikethrough">
          <span class="strikethrough">6. {{ registry.entry_6 }}</span>
        </label>
      </div>
      {% endif %}
      {% if registry.entry_7 != '' %}
      <div class="checkbox">
        <label for="done_7" class="">
        <input id="done_7" name="done" type="checkbox" value="done_7" {% if registry.entry_7_done %} checked {% endif %} disabled class="strikethrough">
          <span class="strikethrough">7. {{ registry.entry_7 }}</span>
        </label>
      </div>
      {% endif %}
      {% if registry.entry_8 != '' %}
      <div class="checkbox">
        <label for="done_8" class="">
        <input id="done_8" name="done" type="checkbox" value="done_8" {% if registry.entry_8_done %} checked {% endif %} disabled class="strikethrough">
          <span class="strikethrough">8. {{ registry.entry_8 }}</span>
        </label>
      </div>
      {% endif %}
      {% if registry.entry_9 != '' %}
      <div class="checkbox">
        <label for="done_9" class="">
        <input id="done_9" name="done" type="checkbox" value="done_9" {% if registry.entry_9_done %} checked {% endif %} disabled class="strikethrough">
          <span class="strikethrough">9. {{ registry.entry_9 }}</span>
        </label>
      </div>
      {% endif %}
      {% if registry.entry_10 != '' %}
      <div class="checkbox">
        <label for="done_10" class="">
        <input id="done_10" name="done" type="checkbox" value="done_10" {% if registry.entry_10_done %} checked {% endif %} disabled class="strikethrough">
          <span class="strikethrough">10. {{ registry.entry_10 }}</span>
        </label>
      </div>
      {% endif %}
    </div>
    <p>
      <strong>{% trans 'How do you feel today?' %}</strong>
      <br>
      {% if registry.feelings_emoji != '' %}
      <img src="/static/img/{{registry.feelings_emoji }}.png" /> 
      {% endif %}
      {{ registry.feelings }}
    </p>
    <!-- <p>
      <strong>{% trans 'Impediments starting the day' %}</strong>
      <br>
      {{ registry.impediments_in }}
    </p> -->
    {% if registry.is_closed %}
    <p>
      <strong>{% trans 'Impediments ending the day' %}</strong>
      <br>
      {{ registry.impediments_out }}
    </p>
    {% endif %}
  </div>
</div>
{% endblock content %}