{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="card-body">
  <select class="form-control" name="timezone"></select>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'js/timezones/timezones.full.min.js' %}"></script>
<script>
  $('select').timezones()
</script>
{% endblock content %}