{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
<div class="card-body">
  {% if organizations.count == 0 %}
  <p>
    {% trans 'You have no organizations. Please contact your administrator.' %}
  </p>
  {% else %}
  <p>
    <strong>{% trans 'Where do you want to save your daily?' %}</strong>
  </p>
  {% for organization in organizations %}
  <p>
    <a href="{% url 'main_daily' organization.id %}">{{ organization }}</a>
  </p>
  {% endfor %}
  {% endif %}
</div>
{% endblock content %}