{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
<div class="card-body">
  <p>
    <strong>{% trans 'Your organizations' %}</strong>
  </p>
  {% for organization in organizations %}
  <p>
    <a href="{% url 'main_show_departments' organization.id %}">{{ organization }}</a>
  </p>
  {% endfor %}
  {% if organizations.count == 0 %}
  <p>
    {% trans 'There are no organizations' %}
  </p>
  {% endif %}
</div>
{% endblock content %}