{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
<div class="card-body">
  <div class="logo">
    <!--
    <img src="{ organization.logo.url }" alt="Logo">
    -->
  </div>
  <p>
    <strong>{% trans 'Departments in' %} {{ organization.name }}</strong>
  </p>
  <p>
  <a href="{% url 'main_show_registries_by_organization' organization.id %}">{% trans 'All Departments' %}</a>
  </p>
  {% for department in departments %}
  <p>

    <a href="{% url 'main_show_registries_by_department' department.id %}">{{ department }}</a>
  </p>
  {% endfor %}
</div>
{% endblock content %}