{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
<div class="card-body">
  <p>
    <strong>{% trans 'Daily Out received' %}</strong>
  </p>
  <p>
    {% trans 'Congratulations! You won 10 points!' %} 🎉
    <br>
    {% trans 'Thank you, please come back tomorrow (or next business day)' %}
  </p>

  <a href="{% url 'main_show_organizations' %}">{% trans 'Look dailies for your organization' %}</a>
</div>
{% endblock content %}