{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
<div class="card-body">
  <p>
    <strong>{% trans 'Daily In received' %}</strong>
  </p>
  <p>
    {% trans 'Thank you, please come back for your Daily Out' %}
  </p>

  <a href="{% url 'main_show_organizations' %}">{% trans 'Look dailies for your organization' %}</a>
</div>
{% endblock content %}